.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mui-text-field {
  width: 500px;
  height: 50px;
  margin-left: 64px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-indent: 10px;
}


.addTurbinebox{
  margin-top: 40px;
}
