.base {
  background-color: #6d835c;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.NavBar {
  position: static;
  background: #596a4b;
  background-color: rgba(0, 0, 0, 0.29);
}

.link {
  font-family: monospace;
  color: #fff;
  text-decoration: "none";
  cursor: auto;
  margin-right: auto;
}

.link:hover {
  color: #add0a4;
}

.linkBoxes {
  color: white;
  border-radius: 15px;
  text-align: centre;
  font-size: medium;
  background: transparent;
  right: 0;
  border: 1px solid white;
  margin: 10px;
  width: 130px;
}
