.inputBox {
    width: 500px;
    height: 50px;
    margin-left: 64px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-indent: 10px;
    border: 1px solid #202A44;
    background: transparent;
    color: white;
    border-radius: 10px;
}
.inputBase2 {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
}
input[type="text"]{
  font-size: large;
}

.searchButtonPositionLeft{
    width: 500px;
    height: 50px;
    margin-left: 70px;
    margin-top: 9px;
    margin-bottom: 14px;
    align-content: right;
    display: flex;
  }

  .searchButtonPositionRight{
    width: 500px;
    height: 50px;
    margin-left: 70px;
    margin-top: 130px;
    margin-bottom: 14px;
    align-content: right;
    display: flex;
  }

.searchButton {
    background: #202A44;
    width: 128px;
    height: 51px;
    left: 433px;
    top: 295px;
    border: 0;
    font-family: Abril Fatface;
    font-weight: lighter;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 10;
    margin-left: auto;
    border-radius: 15px;
}

.searchButton:hover {
  background: transparent;
  border: 1px solid white;
}

.inputBox::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    opacity: 1;
    color: #202A44;
  }

#chartContainer {
    background: #fbfcff;
    margin-top: 350px;
    margin-left: 63px;
    margin-right: 63px;
    height: 480px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.table{
  position: relative;
  margin-top: 30px;
  margin-left: 63px;
  margin-right: 63px;
  margin-bottom: 30px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modelDropDown {
  width: 508px;
  height: 50px;
  margin-left: 64px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-indent: 10px;
}

.datePicker {
  width: 200px;
  height: 40px;
  margin-left: 64px;
  margin-top: 3px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #202A44;
  font-size: medium;
  text-indent: 10px;
}

.searchTitle{
  font-family: 'Arial', cursive;
  margin-left: 70px;
  color: #202A44;
  text-align: left;
  margin-bottom: 14px;
}