@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

body {
  background-image: linear-gradient(.25turn, #4686AE, #8DB38B);
}

.base {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.inputBase {
  background-color: #6d835c;
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
}

.NavBar {
  position: static;
  /* background: #202A44; */
  /* background-color: rgba(0, 0, 0, 0.29); */
  float: top;
  margin-bottom: 20px;
  
}

.link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  color: #fff;
  text-decoration: "none";
  cursor: auto;
  margin-right: auto;
}

.link:hover {
  color: #202A44;
}

.linkBoxes {
  font-family: 'Open Sans', sans-serif;
  cursor: auto;
  color: white;
  border-radius: 15px;
  text-align: centre;
  font-size: medium;
  background: transparent;
  right: 0;
  border: 1px solid white;
  margin: 10px;
  width: 130px;
}

.linkBoxes:hover{
  background: #202A44;
}