@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


.box {
    position: relative;
    width: 400px;
    left: 50%;
    transform: translate(-50%, 5%);
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.title{
    font-family: 'Abril Fatface', cursive;
    margin-left: 2rem;
    color: #202A44;
    text-align: left;
    margin-bottom: 2rem;
}

.label{
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: large;
    color: #202A44;
}

.smallBox{
    color: #202A44;
    position: relative;
    width: 85%;
    margin: auto;
    border-radius: 15px;
    background: transparent;
    border: 2px solid #202A44;
    box-sizing: border-box;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.smallBoxlogin {
    height: 40px;
    margin-bottom: 2.5rem;
}

.smallBoxSignup {
    height: 45px;
}

.smallBox2{
    font-family: 'Abril Fatface', cursive;
    position: relative;
    margin: auto;
    color: white;
    border-radius: 15px;
    text-align: centre;
    font-size: medium;
    background: #202A44;
    border: 1px solid #202A44;
    width: 85%;
    height: 50px;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.labelLink{
    text-align: center;
}

.errorDisplay {
    text-align: center;
    color: #202A44;
    font-weight: 700;
    font-size: larger;
    border: 2px solid #202A44;
}

.welcomeLogin{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 30px;
    transform: translate(0%, 5%);
}
  
