.myTurbines{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 30px;
    transform: translate(0%, 5%);
}

.addTurbineButton{
    position: relative;
    margin-bottom: 30px;
    color: #596a4b;
    border-radius: 10px;
    text-align: centre;
    font-size: large;
    background: white;
    border: 1px solid #596a4b;
}

.addTurbineButton:hover{
    color: white;
    background: #596a4b;
}

.turbineLabel{
    margin-left: 2rem;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: large;
    color: #193c0d;
}

.turbinebox{
    margin-top: 10px;
    height: 50%;
    width: 500px;
    overflow-y: scroll;
}
.turbinebox::-webkit-scrollbar{
    width: 12px;
}

.turbinebox::-webkit-scrollbar-track{
    background: #6d835c;
    width: 7px;
}

.turbinebox::-webkit-scrollbar-thumb {
    background-color: white;   
    border-radius: 20px;      
    border: 3.5px solid #6d835c;
}

.deleteBox {
    position: relative;
    color: white;
    right: -60%;
    border-radius: 15px;
    text-align: centre;
    font-size: small;
    background: #6d835c;
    border: 1px solid black;
    margin: 10px;
    width: 80px;
}

.turbineDetails{
    margin-left: 2rem;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.noTurbines{
    position: relative;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
    color:  #193C0D;
}

.addTurbineButtonEmpty{
    position: relative;
    margin: 0 auto;
    display: block;
}

.value{
    padding-left: 2rem;
}