.myTurbines{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
    transform: translate(0%, 5%);
}




.addTurbineButton{
    cursor: auto;
    font-family: 'Ubuntu', sans-serif;
    width: 220px;
    height: 35px;
    display: block;
    position: relative;
    margin-bottom: 30px;
    color: #202A44;
    font-weight: 100;
    border-radius: 10px;
    text-align: centre;
    font-size: large;
    background: transparent;
    border: 2px solid #202A44;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

.addTurbineButton:hover{
    color: white;
    background: #202A44;
}

.turbineLabel{
    margin-left: 2rem;
    font-family: 'Open Sans', sans-serif;;
    font-style: normal;
    font-size: large;
    color: #202A44;
}

.turbinebox{
    margin-top: 10px;
    height: 450px;
    width: 50%;
    overflow-y: scroll;
}
.turbinebox::-webkit-scrollbar{
    width: 12px;
}

.turbinebox::-webkit-scrollbar-track{
    background:#202A44;
    width: 7px;
}

.turbinebox::-webkit-scrollbar-thumb {
    background-color: rgba(254, 255, 255, 0.6);   
    border-radius: 20px;  
    border: 3.5px solid #202A44;
}

.deleteBox {
    position: relative;
    color: white;
    right: -60%;
    border-radius: 15px;
    text-align: centre;
    font-size: small;
    background: #202A44;
    border: 1px solid #202A44;
    margin: 10px;
    width: 80px;
}

.turbineBox{
    position: relative;
    left: 50%;
    transform: translate(-50%, 5%);
    background-color: rgba(255, 255, 255, 0.29);
    padding: 10px;
    /* border: 2px solid #202A44; */
    /* box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    margin-bottom: 10px;
    border-bottom: none;
    border-top: none;
}

.turbineDetails{
    margin-left: 2rem;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color:  #202A44;
}

.noTurbines{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
    color:  #202A44;
}

.addTurbineButtonEmpty{
    cursor: auto;
    position: relative;
    margin: 0 auto;
    display: block;
}

.addTurbineButtonEmpty:hover{
    color: white;
    background: #202A44;
}

.value{
    padding-left: 2rem;
    color: #202A44;
}

.turbineLabel{
    font-family: 'Ubuntu', sans-serif;
}