/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
*/

.signupBox {
  position: relative;
  width: 400px;
  height: 77%;
  left: 50%;
  transform: translate(-50%, 5%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  border: 10px solid #193c0d;
}

.titleSignup {
  margin-left: 2rem;
  color: #193c0d;
  text-align: left;
  margin-bottom: 2rem;
}

.labelSignup {
  margin-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: large;
  color: #193c0d;
}

.smallBoxSignup {
  color: #193c0d;
  position: relative;
  width: 85%;
  height: 45px;
  margin: auto;
  border-radius: 15px;
  background: transparent;
  border: 1px solid #193c0d;
  box-sizing: border-box;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.smallBox2Signup {
  position: relative;
  margin: auto;
  color: white;
  border-radius: 15px;
  text-align: centre;
  font-size: medium;
  background: #193c0d;
  border: 1px solid #193c0d;
  width: 85%;
  height: 50px;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

.lSignup {
  text-align: center;
}

.errorDisplay {
  text-align: center;
  color: #193c0d;
  font-weight: 700;
  font-size: larger;
  border: 2px solid #193c0d;
}
